/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
}

/* header */
header{
    padding: 10px;
}
.immagine-titolo{
    vertical-align: middle;
}
.titolo{
    vertical-align: middle;
    display: inline-block;
}

/* main */
.contenitore{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 5%;
    border-radius: 5px;
}
.contenitore-main{
    width: 100%;
    margin: auto;
    padding: 15px 30px;
}

/* bottoni */
.bottone{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
    padding: 5px;
    color: gray;
    font-size: 12px;
}
.bottone-blu{
    background-color: #46acea;
    color: white;
    border-color: #46acea;
}
hr{
    border: 1px solid #f5f8f9;
}

/* elenco */
ul{
    list-style-type: none;
}
li{
    margin-top: 15px;
}
.today{
    margin-top: 25px;
}
.upcoming{
    margin-top: 25px;
}
.macro-option{
    font-weight: 800;
    margin-top: 40px;
}

/* check e categorie dell'elenco */
.check{
    border: 1px solid #73c7b3;
    border-radius: 50%;
    padding: 3px;
    color: #73c7b3;
    font-size: 12px;
    vertical-align: middle;
}
.cross{
    border-radius: 50%;
    border: 1px solid red;
    padding: 5px;
    color: red;
    font-size: 6px;
    vertical-align: middle;
}
.categoria{
    border-radius: 10px;
    background-color: #46acea;
    padding: 7px;
    color: white;
    font-size: 10px;
    vertical-align: middle;
}
.viola{
    background-color: #9c72e4;
}
.verde{
    background-color: #64c0a9;
}
.arancio{
    background-color: #f29e33;
}
.rosa{
    background-color: #d863a1;
}
.verde-pisello{
    background-color: #b0c924;
}